<!DOCTYPE html>
<html>
  <head>
    <title>Talk To Me In Yodish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <link rel="shortcut icon" href="https://i.imgur.com/XqzXO0y.png">
  <body>
    
    <%= yield %>

  </body>
</html>